<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>问题详情</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- 页面-css -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/base.css">
    <script type="text/javascript">
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 375 * 100 + 'px';
    </script>
    <style>
        .quesItem {
            padding: 0 0.1rem;
        }

        .quesItem p {
            line-height: 0.18rem;
            margin: 0.1rem 0;
        }

        .quesItem p .content {
            display: block;
            margin-left: 0.18rem;
        }
    </style>
</head>

<body>
    <div class="quesWrap">
        <div class="quesItem">
            {$article.content}
        </div>
    </div>
</body>

</html>