<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./src/plugin/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./src/css/global.css">
    <link rel="stylesheet" href="./src/css/lwList.css">
</head>

<body>
    <div class="bg"></div>
    <div class="topBar">
        <div class="left back">
            <img src="./src/img/1/left.png" alt="">
        </div>
        <div class="center">
                礼物列表
        </div>
        <div class="right">
            <!-- <img class="m" src="./src/img/1/jinbi.png" alt=""> -->
        </div>
    </div>



    <ul class="list-wrap">
        <!-- <li>
            <img class="j" src="./src/img/1/j3.png" alt="">
            <div>
                <span>10</span>
                <img class="m" src="./src/img/1/jinbi.png" alt="">
            </div>
        </li> -->
    </ul>




    <div class="alert_bg" style="display: none"></div>
    <div class="alert" style="display: none;">
        <div class="tips"></div>
        <div class="b">
            <span class="c">取消</span>
            <span class="ok">兑换</span>
        </div>
    </div>






    <script src="./src/js/jquery.js"></script>
    <script src="./src/plugin/bootstrap/js/bootstrap.js"></script>
    <script src="./src/js/global.js"></script>
    <script src="./src/js/lwList.js"></script>

</body>

</html>