<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./src/plugin/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./src/css/global.css">
    <link rel="stylesheet" href="./src/css/lwList.css">
</head>

<body>
    <div class="bg"></div>
    <div class="topBar">
        <div class="left back">
            <img src="./src/img/1/left.png" alt="">
        </div>
        <div class="center">
                我的礼物
        </div>
        <div class="right">
            <!-- <img class="m" src="./src/img/1/jinbi.png" alt=""> -->
        </div>
    </div>



    <ul class="list-wrap my">
        <!-- <li>
            <img class="j" src="./src/img/1/j3.png" alt="">
            <div>
                <span>10</span>
                <img class="m" src="./src/img/1/jinbi.png" alt="">
            </div>
        </li> -->
    </ul>

    <ul class="list-wrap send" style="display: none"></ul>
    <ul class="list-wrap shou" style="display: none"></ul>




    <div class="tab">
        <span data-tab="0" class="active">我的礼物</span>
        <span data-tab="1">赠送礼物</span>
        <span data-tab="2">收到礼物</span>
    </div>


    <div class="alert_bg" style="display: none"></div>
    <div class="alert" style="display: none;">
        <div class="tips"></div>
        <div class="b">
            <span class="c">取消</span>
            <span class="ok">兑换</span>
        </div>
    </div>






    <script src="./src/js/jquery.js"></script>
    <script src="./src/plugin/bootstrap/js/bootstrap.js"></script>
    <script src="./src/js/global.js"></script>
    <!-- <script src="./src/js/lwList.js"></script> -->
    <script>
        let $userinfo = JSON.parse(localStorage.getItem('USERINFO'))
        console.log($userinfo)
        user_id = $userinfo.user_id
        var GlobalHost = 'http://pkapp.staraise.com.cn'
        var gift_id = '';
        var num = '1';
    
        $.ajax({
            type: 'post',
            url: GlobalHost + '/Api/gift/myGift',
            data: {
                user_id: user_id
            },
            success: function (res) {
                console.log(res.data)
                let gift = res.data;
                var str = '';
                gift.forEach(item => {
                    str += `<li data-id="${item.id}" data-glamour="${item.glamour}">
                                <img class="j" src="${GlobalHost + item.image}" alt="">
                                <div>
                                    <span>${item.price}</span>
                                    <img class="m" src="./src/img/1/jinbi.png" alt="">
                                </div>
                            </li>`
                })
                $('.list-wrap.my').html(str)
            }
        })



        $.ajax({
            type: 'post',
            url: GlobalHost + '/Api/gift/gived',
            data: {
                user_id: user_id
            },
            success: function (res) {
                console.log(res.data)
                let gift = res.data;
                var str = '';
                // gift.forEach(item => {
                //     str += `<li data-id="${item.id}" data-glamour="${item.glamour}">
                //                 <img class="j" src="${GlobalHost + item.image}" alt="">
                //                 <div>
                //                     <span>${item.price}</span>
                //                     <img class="m" src="./src/img/1/jinbi.png" alt="">
                //                 </div>
                //             </li>`
                // })
                // $('.list-wrap').html(str)
            }
        })



        $.ajax({
            type: 'post',
            url: GlobalHost + '/Api/gift/giveMe',
            data: {
                user_id: user_id
            },
            success: function (res) {
                console.log(res.data)
                let gift = res.data;
                var str = '';
                gift.forEach(item => {
                    str += `<li data-id="${item.id}" data-glamour="${item.glamour}">
                                <img class="j" src="${GlobalHost + item.image}" alt="">
                                <div>
                                    <span>${item.price}</span>
                                    <img class="m" src="./src/img/1/jinbi.png" alt="">
                                </div>
                            </li>`
                })
                $('.list-wrap.shou').html(str)
            }
        })

        $('.tab span').click(function () {
            console.log($(this).attr('data-tab'))
            $('.list-wrap').hide();
            $('.tab span').removeClass('active');
            $(this).addClass('active')
            switch($(this).attr('data-tab')) {
                case "0":
                    $('.list-wrap.my').show();
                    break;
                case "1":
                    $('.list-wrap.send').show();
                    break;
                case "2":
                    $('.list-wrap.shou').show();
                    break;
            }
        })
        
    </script>

</body>

</html>