<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        a {
            display: block;
            line-height: 32px;
        }
    </style>
</head>
<body>

    <a href=" navpk.html"> PK首页</a>
    <a href=" phb.html"> 排行榜--排位赛</a>
    <a href=" pking.html">排行列表 -- 【对战列表】 </a>
    <a href=" pwList.html"> 排位赛--列表</a>
    <a href=" qd.html"> 签到</a>
    <a href=" xyq.html">心愿墙</a>
    <a href=" zsd.html"> 知识点</a>
    <a href=" zsk.html"> 知识库--选择</a>
    <a href=" zsk2.html"> 知识库--答题</a>

</body>
</html>