<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./src/plugin/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./src/css/global.css">
    <link rel="stylesheet" href="./src/css/zsk.css">
</head>

<body>
    <div class="bg"></div>
    <div class="topBar">
        <div class="left back">
            <img src="./src/img/1/left.png" alt="">
        </div>
        <div class="center">
                强化知识库
        </div>
    </div>

    <!-- 下拉 -->
    <div style="margin: 100px 0 40px 0; display: flex; justify-content: center;color: #fff;">
        <p class="bbb">二年级下学期</p>
    </div>



    <div class="yuwen">
        <div class="left">
            <img src="./src/img/1/tubiaozhizuomoban.png" alt="">
            <p>语文</p>
            <img src="./src/img/1/mingshidayuwen.png" alt="" style="margin-top: 30px; width: 55px;">
            <p style="font-size: 14px;">等级一</p>
        </div>
        <ul class="right right2" style="color: rgba(0,0,0,.8);">
            <li class="item">
                <p>4+2</p>
                <div>
                    <img src="./src/img/1/a1.png" alt="">
                    选项A
                </div>
                <div>
                    <img src="./src/img/1/b1.png" alt="">
                    选项A
                </div>
                <div>
                    <img src="./src/img/1/c2.png" alt="">
                    选项A
                </div>
                <div>
                    <img src="./src/img/1/d1.png" alt="">
                    选项A
                </div>
            </li>
            <li class="item">
                <p>1+1</p>
                <div>
                    <img src="./src/img/1/a1.png" alt="">
                    选项A
                </div>
                <div>
                    <img src="./src/img/1/b1.png" alt="">
                    选项A
                </div>
                <div>
                    <img src="./src/img/1/c2.png" alt="">
                    选项A
                </div>
                <div>
                    <img src="./src/img/1/d1.png" alt="">
                    选项A
                </div>
            </li>
            <li class="item">
                <p>问题一：XXXXXXXXXXXXXXXXXXXXXXXXX</p>
                <div>
                    <img src="./src/img/1/a1.png" alt="">
                    选项A
                </div>
                <div>
                    <img src="./src/img/1/b1.png" alt="">
                    选项A
                </div>
                <div>
                    <img src="./src/img/1/c2.png" alt="">
                    选项A
                </div>
                <div>
                    <img src="./src/img/1/d1.png" alt="">
                    选项A
                </div>
            </li>
            <li class="item">
                <p>问题一：XXXXXXXXXXXXXXXXXXXXXXXXX</p>
                <div>
                    <img src="./src/img/1/a1.png" alt="">
                    选项A
                </div>
                <div>
                    <img src="./src/img/1/b1.png" alt="">
                    选项A
                </div>
                <div>
                    <img src="./src/img/1/c2.png" alt="">
                    选项A
                </div>
                <div>
                    <img src="./src/img/1/d1.png" alt="">
                    选项A
                </div>
            </li>
            <li class="item">
                <p>问题一：XXXXXXXXXXXXXXXXXXXXXXXXX</p>
                <div>
                    <img src="./src/img/1/a1.png" alt="">
                    选项A
                </div>
                <div>
                    <img src="./src/img/1/b1.png" alt="">
                    选项A
                </div>
                <div>
                    <img src="./src/img/1/c2.png" alt="">
                    选项A
                </div>
                <div>
                    <img src="./src/img/1/d1.png" alt="">
                    选项A
                </div>
            </li>
        </ul>
    </div>




    <!-- <div class="yuwen y2">
        <div class="left">
            <img src="./src/img/1/jisuanqi.png" alt="">
            <p>语文</p>
        </div>
        <ul class="right">
            <li class="item">
                <img src="./src/img/1/wangyuanjing(1).png" alt="">
                <p>等级1</p>
            </li>
            <li class="item">
                <img src="./src/img/1/pen.png" alt="">
                <p>等级1</p>
            </li>
            <li class="item">
                <img src="./src/img/1/huaxue.png" alt="">
                <p>等级1</p>
            </li>
            <li class="item">
                <img src="./src/img/1/citie-dianji.png" alt="">
                <p>等级1</p>
            </li>
        </ul>
    </div> -->

















    <div class="submit tj">提交</div>







    <script src="./src/js/jquery.js"></script>
    <script src="./src/plugin/bootstrap/js/bootstrap.js"></script>
    <script src="./src/js/global.js"></script>


</body>

</html>